<div class="flex flex-row gap-8">
    <div class="w-full">
        <coordination-metric
            [metricName]="'Reuniões hoje'"
            [metricValue]="coordinationMetrics().meetingsToday"
            [icon]="'video'"
            [iconColor]="'blue'"
            [onClickFunction]="consultTodayMeetings">
        </coordination-metric>
    </div>

    <div class="w-full">
        <coordination-metric
            [metricName]="'Projetos em andamento'"
            [metricValue]="coordinationMetrics().inProgressProjects"
            [icon]="'chart-line'"
            [iconColor]="'green'"
            [onClickFunction]="consultInProgressProjects">
        </coordination-metric>
    </div>

    <div class="w-full">
        <coordination-metric
            [metricName]="'Projetos próximos do prazo'"
            [metricValue]="coordinationMetrics().almostLateProjects"
            [icon]="'calendar-clock'"
            [iconColor]="'orange'"
            [onClickFunction]="consultAlmostLateProjects">
        </coordination-metric>
    </div>

    <div class="w-full">
        <coordination-metric
            [metricName]="'Projetos atrasados'"
            [metricValue]="coordinationMetrics().lateProjects"
            [icon]="'exclamation-triangle'"
            [iconColor]="'red'"
            [onClickFunction]="consultLateProjects">
        </coordination-metric>
    </div>
</div>
