<div class="flex flex-row gap-8">
    <div class="w-full">
        <coordination-metric
            [metricName]="'Reuniões hoje'"
            [metricValue]="coordinationMetrics().meetingsToday"
            [icon]="'video'"
            [iconColor]="'blue'">
        </coordination-metric>
    </div>

    <div class="w-full">
        <coordination-metric
            [metricName]="'Projetos em andamento'"
            [metricValue]="coordinationMetrics().inProgressProjects"
            [icon]="'chart-line'"
            [iconColor]="'green'">
        </coordination-metric>
    </div>

    <div class="w-full">
        <coordination-metric
            [metricName]="'Projetos próximos do prazo'"
            [metricValue]="coordinationMetrics().almostLateProjects"
            [icon]="'calendar-clock'"
            [iconColor]="'orange'">
        </coordination-metric>
    </div>

    <div class="w-full">
        <coordination-metric
            [metricName]="'Projetos atrasados'"
            [metricValue]="coordinationMetrics().lateProjects"
            [icon]="'exclamation-triangle'"
            [iconColor]="'red'">
        </coordination-metric>
    </div>
</div>
