<p-timeline [value]="meetings" align="alternate">
    <ng-template #marker let-meeting>
        <span class="flex w-8 h-8 items-center justify-center text-white font-bold rounded-full z-10 shadow-sm" [ngClass]="this.isGateMeeting(meeting) ? 'marker-gate' : 'marker-stage'">
            <span>{{getTimelineMarker(meeting)}}</span>
        </span>
    </ng-template>
    <ng-template #content let-meeting>
        <p-card [header]="getTimelineHeader(meeting)"
                subheader="{{meeting.scheduleDate ? (meeting.scheduleDate | date: 'longDate') + ', ' + meeting.startTime : null}}">

            <div>
                <span class="font-bold">Docente: </span>
                <span>
                    {{meeting.professor.name}}
                </span>
            </div>

            <div class="mt-5">
                <span class="font-bold">Feedback: </span>
                <p>{{meeting.report.feedback ? meeting.report.feedback : 'Pendente'}}</p>

                @if (isGateMeeting(meeting)){
                    <span class="font-bold">Resultado do Gate: </span>
                    <span><tag-status-gate-approval [status]="meeting.report.gateResult ? meeting.report.gateResult : GateResultEnum.PENDING"></tag-status-gate-approval> </span>
                }

            </div>

            <div class="mt-3">
                <p-button label="Ver mais detalhes" icon="pi pi-search" [severity]="isGateMeeting(meeting) ? 'primary' : 'secondary'"/>
            </div>
        </p-card>
    </ng-template>
</p-timeline>
