<div class="flex flex-col gap-8">
    <div>
        <p class="font-bold text-2xl">Gate 4 - Resultados</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-8 align-baseline">
            <div>
                <div class="flex items-center justify-center rounded-border icon-project-progress-container" style="width: 4rem; height: 4rem">
                    <i class="pi pi-calendar text-5xl! icon-project-progress"></i>
                </div>
            </div>

            <div class="flex flex-col align-baseline">
                <span class="font-bold text-xl">15 de outubro de 2025</span>
                <span>Prazo do Gate</span>
            </div>
        </div>

        <div class="flex flex-row gap-8">
            <div>
                <div class="flex items-center justify-center rounded-border icon-project-progress-container" style="width: 4rem; height: 4rem">
                    <i class="pi pi-file-edit text-5xl! icon-project-progress"></i>
                </div>
            </div>

            <div class="flex flex-col align-baseline">
                <span class="font-bold text-xl">0</span>
                <span>Entregáveis pendentes</span>
            </div>
        </div>

        <div class="flex flex-row gap-8">
            <div>
                <div class="flex items-center justify-center rounded-border icon-project-progress-container" style="width: 4rem; height: 4rem">
                    <i class="pi pi-stopwatch text-5xl! icon-project-progress"></i>
                </div>
            </div>

            <div class="flex flex-col align-baseline">
                <span class="font-bold text-xl">3</span>
                <span>Dias restantes</span>
            </div>
        </div>
    </div>

    <p-message severity="warn" icon="pi pi-exclamation-triangle" styleClass="h-full">
        <span class="font-bold">Atenção: </span>
        <span>Faltam apenas 3 dias para o prazo do Gate 4. Certifique-se de que todos os entregáveis estejam completos e agende sua reunião de avaliação com antecedência.</span>
    </p-message>
</div>
