<div class="flex flex-col gap-8">
    <div class="flex flex-col gap-2">
        <label for="name">Nome do Projeto</label>
        <input pInputText id="name" [(ngModel)]="project.title">
    </div>

    <div class="flex flex-col gap-2">
        <label for="email">Pergunta de Pesquisa</label>
        <input pInputText id="email" [(ngModel)]="project.researchQuestion">
    </div>

    <div class="flex flex-col gap-2">
        <label for="userType">Estudantes</label>
        <p-multiSelect [options]="users"
                       optionValue="id"
                       optionLabel="name"
                       appendTo="body"
                       [(ngModel)]="project.groupMembers">
        </p-multiSelect>
    </div>

    <div class="flex flex-row justify-end gap-2">
        <p-button severity="secondary" label="Cancelar" (click)="close()"></p-button>
        <p-button severity="primary" label="Incluir" (click)="save()"></p-button>
    </div>

</div>
